*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#registerPage {
    background: url("./nen.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}
#registerPage {
    display:flex;
}
#registerPage .create{
    width: 50vh;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: bisque;
    box-shadow: 5px;
    border-radius: 5px;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
#registerPage .create h4{
    padding-left: 12vh;
    font-size: 30px;
}
#registerPage .create .title-create .area-create{
    margin: auto;
    width: 44vh;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 11px;
    
}
#registerPage .create .title-create .area-create .create-title{
    padding: 5px;
    font-size: 20px;
}
#registerPage .create .title-create .area-create .create-title .create-input{
    padding:5px 0px 5px 5px;
    width: 40vh;
    font-size: 18px ;
    border-radius: 5px;
}
#registerPage .create .title-create .area-create .create-title .create-button{
    width: 40vh;
    padding: 1vh;
    border-radius: 5px;
    font-size: 18px ;
    color: black;
    background-color: rgb(240, 31, 38);
}
#registerPage .create .title-create .change-create{
    width: 44vh;
    margin: 3vh;
    padding: 1vh;
    font-size: 18px;
    border: 1px solid grey;
    background-color: rgb(234, 212, 212);
    border-radius: 5px;
}
#registerPage .create .title-create .area-create #error-firstName{
    color: brown;
    margin-left: 5px;
}
#registerPage .create .title-create .area-create #error-lastName{
    color: brown;
    margin-left: 5px;
}
#registerPage .create .title-create .area-create #error-email{
    color: brown;
    margin-left: 5px;
}
#registerPage .create .title-create .area-create #error-password{
    color: brown;
    margin-left: 5px;
}
#registerPage .create .title-create .area-create #error-confirm{
    color: brown;
    margin-left: 5px;
}
#registerPage .create #completed{
    color: aqua;
    margin: auto;
    padding: 5px;
}
#registerPage .create #server-error-user{
    color: aqua;
    /* margin-left: ; */
    padding: 5px;
}
